/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.mx-l-4 {
  margin-left: 4rem;
}

.mx-r-4 {
  margin-left: 4rem;
}

.mx-l-3 {
  margin-left: 3rem;
}

.mx-r-3 {
  margin-left: 3rem;
}

.mx-l-2 {
  margin-left: 2rem;
}

.mx-r-2 {
  margin-left: 2rem;
}

.mx-l-1 {
  margin-left: 1rem;
}

.mx-r-1 {
  margin-left: 1rem;
}
